<div class="row mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">News</h3>
	  <p>Upcoming:</p>
	  <ul>
		{% for item in site.data.news.upcoming %}
			<li>{{ item.duration }}: {{ item.description }}</li>
		{% endfor %}
	  </ul>
	  {% if page.title == "Home" %}
	  <a href="/news" class="link">Old news</a>
	  {% else %}
	  <p>Past:</p>
	  <ul>
		{% for item in site.data.news.past %}
			<li>{{ item.duration }}: {{ item.description }}</li>
		{% endfor %}
	  </ul>
	  {% endif %}
  </div>
</div>
