<div class="row mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Papers</h3>
	  {% for item in site.data.papers.index %}
	    {% capture jointWork %}{% if item.coauthors %} (with {% for coauth in item.coauthors %}{% if forloop.first %}{% include coauthor.html short=coauth %}{% elsif forloop.last %} and {% include coauthor.html short=coauth %}{% else %}, {% include coauthor.html short=coauth %}{% endif %}{% endfor %}){% endif %}{% endcapture %}
		{% capture arx %}{% if item.arxiv %}<a href="{{ item.arxiv }}" class="link">arxiv</a>{% endif %}{% endcapture %}
		{% capture doi %}{% if item.doi %}<a href="{{ item.doi }}" class="link">{{ item.doiText }}</a>{% endif %}{% endcapture %}
		{% capture links %}{% if item.arxiv %}({{ arx }}{% if item.doi %} | {{ doi }}{% endif %}){% endif %}{% endcapture %}
		{% capture year %}{% if item.year %}, {{ item.year }}{% endif %}{% endcapture %}
		<p><i>{{ item.title }}</i>{{ jointWork }}{{ year }}, {{ item.journal }} {{ links }}</p>
	  {% endfor %}
  </div>
</div>
