<div class="row mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">PhD defense</h3>
	    <div class="defense-gallery">
		  <img src="{{ '/assets/img/phd-defense/phd-defense-1.jpeg' | relative_url }}" alt="PhD defense">
		  <img src="{{ '/assets/img/phd-defense/phd-defense-2.jpeg' | relative_url }}" alt="PhD defense">
		  <img src="{{ '/assets/img/phd-defense/phd-defense-3.jpeg' | relative_url }}" alt="PhD defense">
		  <img src="{{ '/assets/img/phd-defense/phd-defense-4.jpeg' | relative_url }}" alt="PhD defense">
		  <img src="{{ '/assets/img/phd-defense/phd-defense-5.jpeg' | relative_url }}" alt="PhD defense">
		</div>
  </div>
</div>
