<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications and Preprints</h3>
	  {% for item in site.data.publications.index %}
		<p><i>{{ item.name }}</i> (with {% for coauth in item.coauthors %}
		<p>1{{ coauth }}</p>
			{% if forloop.first %}
				<p>2</p>
				{% include coauthor.html short=coauth %}
			{% elsif forloop.last %}
				<p>3</p>
				and {% include coauthor.html short=coauth %}
			{% else %}
				<p>4</p>
				, {% include coauthor.html short=coauth %}
			{% endif %}
		{% endfor %}), {{ item.year }}, {{ item.journal }} (<a href="{{ item.arxiv }}">arxiv</a>)</p>
	  {% endfor %}
  </div>
</div>
